.DonationBubble {
  background-color: #ffe4e6;
  color: #881337;
  padding: 16px;
  border-radius: 14px;
  margin: 0 var(--margin-lr) 14px;
  position: relative;
}

.DonationText {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.4;
}

.ButtonContainer {
  display: flex;
  gap: 12px;
}

.DonationButton {
  --button-padding: 8px 16px;
  --button-font-size: 16px;
  --button-bg-color: #be123c;
}

.MaybeLaterButton {
  --button-padding: 8px 16px;
  --button-font-size: 16px;
  --button-bg-color: transparent;
  --button-color: #be123c;
  --button-border: 2px solid #be123c;
}

@media (prefers-color-scheme: dark) {
  .DonationBubble {
    background-color: #3f0e18;
    color: #ffe4e6;
  }
  
  .DonationButton {
    --button-bg-color: #e11d48;
  }

  .MaybeLaterButton {
    --button-color: #e11d48;
    --button-border: 2px solid #e11d48;
  }
}
