.homeMenu {
  align-items: center;
  display: flex;
  position: fixed;
  width: 300px; /* Keep current width */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: calc(var(--margin-lr) + env(safe-area-inset-bottom));
  z-index: 9;

  @media (prefers-color-scheme: dark) {
    background: #1c1b20;
    border-top: none;
  }
}

.item {
  float: left;
  width: 100px;
  text-align: center;
  flex: 1;
  cursor: pointer;
  padding: 14px 0;
  color: #000;

  &[data-selected="true"] {
    color: var(--color-blue);
  }

  @media (prefers-color-scheme: dark) {
    color: rgba(255, 255, 255, 0.55);
  }
}

.itemIcon {
  font-size: 24px;
  font-family: icons;
  margin-bottom: 5px;
}

.itemText {
  line-height: 19px;
}
