.HeaderStyled {
  padding-left: var(--margin-lr);
  padding-right: var(--margin-lr);
  padding-bottom: 5px;
}

.OptionsStyled {
  box-sizing: border-box;
  padding-top: 8px;
  height: 42px;
  text-align: right;
}

.TitleStyled {
  font-weight: bold;
  font-size: 35px;
}
