.HeartIcon {
  margin: 11px var(--margin-lr);
  font-family: icons;
  font-size: 24px;
  color: #000;
  line-height: 24px;
  position: relative;
  top: -1px;
  padding: 8px;
  animation: fade-in 0.2s;

  &::after {
    content: attr(data-state);
  }
}
