.HeartIcon {
  margin: 11px var(--margin-lr);
  color: #ff2d55;
  position: relative;
  top: -1px;
  padding: 8px;
  animation: fade-in 0.2s;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
