.Nav {
  position: fixed;
  width: 100%;
  display: flex;
  min-height: 55px;
  align-items: center;
}

.NavLeft {
  float: left;
  width: 33.33%;
  display: flex;
  flex: 1;
}

.NavCenter {
  float: left;
  width: 33.33%;
  text-align: center;
  display: flex;
  flex: 1;
}

.NavRight {
  float: left;
  width: 33.33%;
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.BackButton {
  font-size: 15px;
  line-height: 24px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  padding: 8px;
  margin: 11px var(--margin-lr);
  animation: fade-in 0.2s;
}

.BackIcon {
  float: left;
  margin-right: 8px;
  font-family: icons;
  font-size: 23px;
  line-height: 24px;
  width: 12.27px;
}

.NavTitle {
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  padding: 4px 12px;
}
