.StopLines {
  margin-top: 7px;
  padding-left: var(--margin-lr);
  padding-right: var(--margin-lr);
  color: #fff;
  overflow-x: scroll;
  height: 36px;
  white-space: nowrap;
}

.StopLines::-webkit-scrollbar {
  display: none;
}

.StopLine {
  line-height: 24px;
  font-size: 18px;
  margin-right: 7px;
  border-radius: 30px;
  min-width: 48px;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  padding: 6px 0;
  cursor: pointer;

  @media (prefers-color-scheme: dark) {
    background: #fff;
    color: #000;
  }
}

.StopLine:disabled {
  opacity: 0.1;
  cursor: default;
}

.StopLine:last-child {
  margin-right: 0;
}
