.stopLines {
  margin-top: 7px;
  padding-left: var(--padding-left);
  padding-right: var(--margin-lr);
  color: #fff;
  overflow-x: scroll;
  height: var(--height);
  white-space: nowrap;
}

.stopLines::-webkit-scrollbar {
  display: none;
}

.stopLine {
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  border-radius: 30px;
  cursor: pointer;
}

.stopLineSmall {
  font-size: 12px;
  margin-right: 5px;
  min-width: 35px;
  padding: 2px 0;
  cursor: default;
}

.stopLineLarge {
  font-size: 18px;
  margin-right: 7px;
  min-width: 48px;
  padding: 6px 0;
}

.stopLine:last-child {
  margin-right: 0;
}

.stopLine:disabled {
  opacity: 0.1;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .stopLine:disabled {
    background: #fff;
    color: #000;
  }
}
