.stopLines {
  margin-top: 7px;
  padding-left: var(--padding-left);
  padding-right: var(--margin-lr);
  color: #fff;
  overflow-x: scroll;
  height: var(--height);
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.stopLine {
  line-height: 24px;
  text-align: center;
  display: inline-block;
  font-weight: normal;
  border-radius: 30px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }

  @media (prefers-color-scheme: dark) {
    &:disabled {
      background: #fff;
      color: #000;
      opacity: 0.4;
    }
  }
}

.stopLineSmall {
  font-size: 12px;
  margin-right: 5px;
  min-width: 35px;
  padding: 2px 0;
  cursor: default;
}

.stopLineLarge {
  font-size: 18px;
  margin-right: 7px;
  min-width: 48px;
  padding: 6px 0;
}
