.Time {
  display: inline-block;
  border-radius: 8px;
  line-height: 20px;
  font-size: 26px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}

.Time1 {
  display: inline-block;
  width: 120px;
}

.Time2 {
  display: inline-block;
  opacity: 0.6;
}
