.NextStops {
  border-radius: 0 0 30px 30px;
  padding: 6px 0;
  background: var(--background);
}

.NextStop {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--border-color);
  border-bottom-opacity: 0.4;
  margin: 0 24px;
  padding: 12px 0;
}

.NextStop:last-child {
  border-bottom: none;
}
