:root {
  --color-blue: #0070f0;
  --color-light-blue: #32b0fd;
}

body,
html,
#app {
  height: 100%;
}

body {
  margin: 0;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

*[draggable="true"] {
  animation: wiggle 0.5s linear infinite;
  cursor: move;
}

#app {
  display: flex;
  flex-direction: column;
}

#time1[data-time="0"] {
  animation: blink 0.8s linear infinite;
}

.gm-style iframe + div {
  border: none !important;
}

.marker img {
  display: block;
  margin: 0 auto;
}

.marker span {
  font-size: 20px;
  font-weight: bold;
  color: rgb(10, 132, 255) !important;
  text-shadow: -4px -4px 0 #fff, 4px -4px 0 #fff, -4px 4px 0 #fff,
    4px 4px 0 #fff;
}

/* View transitions */
::view-transition-old(root) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* Overrides for 'back' transitions */
.back-transition::view-transition-old(root) {
  animation-name: none;
}

.back-transition::view-transition-new(root) {
  animation-name: none;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

@keyframes slide-to-right {
  to {
    transform: translateX(30px);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-30px);
  }
}

@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-0.5deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  75% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Snow */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}

.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}

.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}

.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}

.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}

.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}

.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
